@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  margin: 0;
  background-color: #FEAFC3;
  width: 1366px;
}

.page-header {
  width: 1170px;
  margin: 0 auto;
}

.logo-link:focus-visible {
  outline: 2px solid #2D3440;
  outline-offset: -1px;
}

.navigation {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  display: flex;
  margin-top: 24px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px 0;
  margin-left: 16px;
}

.navigation-item {
  margin-bottom: 16px;
}

.navigation-link {
  color: #2D3440;
  text-decoration: none;
  padding: 8px 16px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background-color: #FCFCFC;
}

.navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  outline-offset: -1px;
  border-radius: 30px;
}

.current {
  color: #FCFCFC;
  background-color: #FF4A78;
  border-radius: 30px;
}

.navigation-catalog-list {
  background-color: #FCFCFC;
  list-style-type: none;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  position: absolute;
}

.navigation-catalog-item {
  position: relative;

}

.navigation-catalog-link {
  display: flex;
  color: #2D3440;
  text-decoration: none;
  padding: 6px 16px;
}

.navigation-catalog-item:first-child .navigation-catalog-link:before {
  content: "";
  position: absolute;
  width: 103px;
  height: 1px;
  background-color: #B9B9B9;
  top: 40px;
}

.navigation-catalog-item:first-child  .navigation-catalog-link{
  padding: 8px 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.navigation-catalog-link:hover {
  background-color: #FFCBD8;
}

.navigation-catalog-link:active {
  background-color: #FF7799;;
}

.navigation-catalog-link:focus-visible {
  outline: 2px solid #2D3440;
}

.navigation-item:hover .navigation-catalog-list {
  display: block;
}

.navigation-catalog-list {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

